
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
   
}
html {
    scroll-behavior: smooth !important;
  }

body{
  background-color: #171717;
}

.icon{
    color:red !important;
}



/* .github{

    background-color: white;
    -webkit-mask: url("../public/github.svg") no-repeat center;
    mask: url("../public/github.svg") no-repeat center;
  
}
.linkedin{

    background-color: white;
    -webkit-mask: url("../public/linkedin-in.svg") no-repeat center;
    mask: url("../public/linkedin-in.svg") no-repeat center;
  
} */





  #circle {
    position: absolute;
    border-radius: 100%;
    padding: 0px;
      animation: rotate-animation 8s infinite linear;
    left:-30px;
    top:-30px;
  
  }
  
  #circle span {
    position: absolute;
    transform-origin: top left;
    font-size: 14px;
 
  }
  
  @keyframes rotate-animation {
    from { transform: rotate(-360deg); }
    to { transform: rotate(0); }
  }
  

  
  .list:hover{
    background-color: blue;
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
  }