
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
    color:#EDEDED ;
}

body{
  background-color: #171717;
}

/* .github{

    background-color: white;
    -webkit-mask: url("../public/github.svg") no-repeat center;
    mask: url("../public/github.svg") no-repeat center;
  
}
.linkedin{

    background-color: white;
    -webkit-mask: url("../public/linkedin-in.svg") no-repeat center;
    mask: url("../public/linkedin-in.svg") no-repeat center;
  
} */